<%- include('../partials/header') %>

<div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification is-warning">
            <p class="title">Activity</p>
            <p class="subtitle"><%= activity.name %></p>
          </article>
          <article class="tile is-child notification has-background-grey-light">
            <p class="title">Materials</p>
            <p class="subtitle"><%= activity.materials %></p>
          </article>
          <div class="tile is-parent">
              <article class="tile is-child notification has-background-grey-light">
                <div class="content">
                  <p class="title">Directions</p>
                  <p class="subtitle"><%= activity.directions %></p>
                </div>
              </article>
            </div>
        </div>
      </div>
    </div>
</div>
<br>
<br>
<br>
<h3>Edit the activity here:</h3>
<form action="/activities/<%= activity._id %>?_method=PUT" method="POST">
    <label>Activity:</label>
    <div class="field">
        <div class="control">
        <input type="text" name="name" class="input is-primary" value="<%= activity.name %>">
        </div>
    <br>
    <label>Materials:</label>
    <textarea name="materials" class="textarea" value="<%= activity.materials %>"></textarea>
    <br>
    <label>Directions:</label>
    <textarea name="directions" class="textarea" value="<%= activity.directions %>"></textarea>
    <br>
    <input type="submit" class="button is-succes is-focused" value="Update Activity">
</form> 

<%- include('../partials/footer') %>

