<%- include('../partials/header') %>
<h1>My Account Page</h1>
<section>
    <div>Name:</div>
    <div><%= teacher.name %></div>
    <div>Email:</div>
    <div><%= teacher.email %></div>
    <div>School:</div>
    <div><%= teacher.school %></div>
</section>

<%- include('../partials/footer') %>